result/
runs/
__pycache__/
.vscode/
imgui.ini
scenes/bathroom/
scenes/bedroom/
scenes/ae-bedroom/
ref/tmp
ref/config.json
Model*.exr
test.exr
ref/living-room
ref/dining-room*.exr
ref/Model*.json
zconfigs/
*.exr
fine-tuned-nr.py
test.png
scenes/
bb/
static_scenes/